.category {
  &-inner {
    &-card {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 8px;

      a {
        background: #f4f5f6;
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
        width: 100%;
        cursor: pointer;
        &:hover {
          img {
            transform: scale(1.2);
          }
        }
        .category-card-img {
          max-width: 88px;
          padding: 16px;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            transition: transform 0.5s ease;
          }
        }
        .category-card-title {
          p {
            font-family: Inter;
            font-weight: 600;
            font-style: Semi Bold;
            font-size: 11px;
            
            line-height: 16px;
            letter-spacing: 1%;
            text-align: center;
            text-transform: uppercase;
            color: #22242a;
          }
        }
      }
    }
  }
}
