.hero {
  background: #f4f5f6;

  // padding-top: 214px !important;

  &-wrapper {
    display: flex;
    align-items: center;
    gap: 32px;
    &-left {
      border-radius: 12px;
      width: 68%;
      .swiper-pagination-fraction,
      .swiper-pagination-custom,
      .swiper-horizontal > .swiper-pagination-bullets,
      .swiper-pagination-bullets.swiper-pagination-horizontal {
        bottom: var(--swiper-pagination-bottom, 8px);
        top: var(--swiper-pagination-top, auto);
        width: max-content;
        height: 36px;
        background: rgba(255, 255, 255, 0.2);
        align-items: center;
        display: flex;
        justify-content: center;
        max-width: 100%;
        transform: translateX(-50%);
        left: 50%;
        border-radius: 16px;
      }
    }
    &-banner {
      position: relative;
      cursor: pointer;
      height: 450px;
      overflow: hidden;
      border-radius: 12px;
      &:hover {
        .hero-wrapper-banner-img {
          img {
            transform: scale(1.1);
          }
        }
      }
      &-img {
        position: absolute;
        width: 100%;
        height: 100%;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          transition: transform 0.3s ease;
          object-position: center;

          border-radius: 12px;
        }
        &::after {
          content: '';
          width: 100%;
          height: 100%;
          background: #00000085;
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          border-radius: 12px;
          bottom: 0;
        }
      }
      &-info {
        z-index: 123;
        position: absolute;
        top: 56px;
        left: 50px;
        max-width: 307px;
        display: flex;
        flex-direction: column;
        text-align: left;
        gap: 32px;
        h1 {
          font-weight: 400;
          font-style: Regular;
          font-size: 56px;
          
          line-height: 100%;
          letter-spacing: 0%;
          color: #fff;
          font-family: 'Bounded', sans-serif;
          margin: 0;
        }
        p {
          font-family: Inter;
          font-weight: 400;
          font-style: Regular;
          font-size: 18px;
          
          line-height: 140%;
          letter-spacing: -2%;
          color: #bebebe;
          margin: 0;
        }
      }
      &-discount {
        position: absolute;
        z-index: 123;
        top: 200px;
        right: 89px;
        background: #feeb27;
        border-radius: 12px;
        padding: 8px;
        span {
          font-weight: 500;
          font-style: Medium;
          font-size: 44px;
          
          font-family: 'Bounded', sans-serif;
          line-height: 120%;
          letter-spacing: 0%;

          color: #22242a;
        }
        small {
          position: absolute;
          top: 10px;
          left: 10px;
          font-family: 'Bounded', sans-serif;
          font-weight: 400;
          font-style: Regular;
          font-size: 12px;
          
          line-height: 120%;
          letter-spacing: 0%;
          text-transform: uppercase;

          color: #22242a;
        }
      }
    }
    &-right {
      width: 30%;
      height: 450px;
      background: #fff;
      border-radius: 12px;
      border: 1px solid #00000033;
      backdrop-filter: blur(40px);
      .swiper:not(.swiper-watch-progress),
      .swiper-watch-progress .swiper-slide-visible {
        height: 100%;
      }
    }
    &-card {
      height: 99.6%;
      padding: 24px;
      & > p {
        margin: 0 0 24px 0;
        font-family: 'Bounded', sans-serif;
        font-weight: 400;
        font-style: Regular;
        font-size: 18px;
        
        line-height: 120%;
        letter-spacing: 0%;
        color: #22242a;
      }
      & > div {
        display: flex;
        justify-content: space-between;
        gap: 16px;
      }
      &-img {
        max-width: 200px;
        max-height: 200px;
        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
          object-position: center;
        }
      }
      &-orders {
        display: flex;
        align-items: center;
        margin-bottom: 8px;
        gap: 4px;
        p {
          margin: 0;
          border: 1px solid #a5a5a5;
          padding: 4px;
          font-weight: 500;
          font-style: Medium;
          font-size: 11px;
          
          line-height: 16px;
          letter-spacing: 0%;
          color: #848688;
          border-radius: 4px;
        }
      }
      &-title {
        margin-bottom: 24px;
        h2 {
          font-family: Inter;
          font-weight: 400;
          font-style: Regular;
          font-size: 14px;
          
          line-height: 20px;
          letter-spacing: -1%;
          color: #22242a;
          margin: 0;
        }
      }
      &-prices {
        .old-price {
          display: flex;
          align-items: center;
          gap: 4px;
          margin-bottom: 4px;
          p {
            margin: 0;
            font-family: Inter;
            font-weight: 500;
            font-style: Medium;
            font-size: 12px;
            
            line-height: 16px;
            letter-spacing: 0%;
            text-decoration: line-through;
            color: #848688;
          }

          span {
            background-color: #dc0000;
            border-radius: 16px;
            font-family: Inter;
            font-weight: 600;
            font-style: Semi Bold;
            font-size: 11px;
            
            line-height: 16px;
            letter-spacing: -4%;
            text-transform: uppercase;
            padding: 0 4px;
            color: #fff;
            text-decoration: none;
          }
        }
        .new-price {
          font-family: Inter;
          font-weight: 600;
          font-style: Semi Bold;
          font-size: 18px;
          
          line-height: 24px;
          letter-spacing: -2%;
          color: #22242a;
          margin: 0 0 24px 0;
        }
      }
      &-button {
        button {
          background-color: #feeb27;
          width: 100%;
          font-family: Inter;
          font-weight: 600;
          font-style: Semi Bold;
          font-size: 14px;
          
          line-height: 20px;
          letter-spacing: 0%;
          display: flex;
          align-items: center;
          gap: 16px;
          justify-content: center;
          border: none;
          outline: none;
          padding: 8px 0;
          border-radius: 8px;
          cursor: pointer;
        }
      }
    }

    .swiper-pagination-bullet-active {
      background-color: #22242a;
    }
  }
}
