@use 'header';
@use 'hero';
@use 'category';
@use 'section';

.container {
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.gl-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
  h1 {
    font-family: 'Bounded', sans-serif;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;

    line-height: 120%;
    letter-spacing: 0%;
    color: #22242a;
    margin: 0;
  }
  a {
    border: 1px solid #00000033;
    border-radius: 8px;
    padding: 4px;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
    p {
      font-family: Inter;
      font-weight: 600;
      font-style: Semi Bold;
      font-size: 12px;

      line-height: 16px;
      letter-spacing: 0%;
      color: #22242a;
      margin: 0;
      padding-left: 12px;
    }
    img {
      background-color: #feeb27;
      border-radius: 8px;
    }
  }
}
.btn-gl {
  border: 1px solid #00000033;
  border-radius: 8px;
  padding: 4px;
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
  background: transparent;
  cursor: pointer;
  p {
    font-family: Inter;
    font-weight: 600;
    font-style: Semi Bold;
    font-size: 12px;

    line-height: 16px;
    letter-spacing: 0%;
    color: #22242a;
    margin: 0;
    padding-left: 12px;
  }
  img {
    background-color: #feeb27;
    border-radius: 8px;
  }
}
.section {
  padding: 24px 0;
}
